@mixin first-section__works-grid--item{
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 468px;
        background-color: $works-item;
}

@mixin title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: $light-text;
}

@mixin second-section__equipment-grid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 463px;
}

@mixin partners-section__partners-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 484px;
    height: 391px;
}