@import 'reset';
@import 'colors';
@import 'mixins';

body {
    font-family: 'Gilam', sans-serif;
    width: 100%;
}

header, main {
    background-color:  $main-bg;
    padding-left: 200px;
}

footer {
    padding-left: 200px;
    background-color: $footer-bg;
}

.header-container {
    display: flex;
    padding-top: 37px;
}

.header-container__feedback{
    margin-left: 870px;
    min-width: 218px;
    height: 50px;
    border: 1px solid $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ballet', sans-serif;
}

.header-container__feedback--feedback-text{
    padding-left: 9px;
    text-align: center;
    text-decoration: none;
    color: $orange;
}

.first-section{
    width: 100%;
    padding-top: 90px;

    & p{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: $light-text;
    } 
}

.first-section__title{
    @include title;
    margin-bottom: 40px;
    padding-left: 12px;
}

.first-section__main-text{
    width: 1182px;
}

.first-section__works-grid{
    margin-top: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 230px);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
}

.first-section__works-grid--item1{
    @include first-section__works-grid--item;
    grid-area: item1;
    width: 467px;
}

.first-section__works-grid--item2{
    @include first-section__works-grid--item;
    grid-area: item2;
    width: 467px;
}

.first-section__works-grid--item3{
    @include first-section__works-grid--item;
    grid-area: item3;
    width: 467px;
}

.first-section__works-grid--item4{
    @include first-section__works-grid--item;
    grid-area: item4;
    width: 712px;
}

.first-section__works-grid--item5{
    @include first-section__works-grid--item;
    grid-area: item5;
    width: 712px;
}

.second-section{
    margin-top: 161px;
    padding-bottom: 150px;
}

.second-section__title{
    @include title;
}

.second-section__equipment-grid{
    margin-top: 50px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 463px);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "equipment1 equipment2 equipment3"
    "equipment1 equipment2 equipment3"
    "equipment4 equipment2 equipment6"
    "equipment4 equipment5 equipment6"
    "equipment4 equipment5 equipment7"
    "equipment4 equipment5 equipment7";
}

.equipment-grid__text-container{
    margin: 52px 0 0 52px;
}

.equipment-grid__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: $light-text;
}

.equipment-grid__bold-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $light-text;
}

.second-section__equipment-grid--equipment1{
    @include second-section__equipment-grid;
    flex-direction: column;
    grid-area: equipment1;
    height: 323px;
    background-color: #0E0E0E;
}

.second-section__equipment-grid--equipment2{
    @include second-section__equipment-grid;
    flex-direction: column;
    grid-area: equipment2;
    height: 485px;
    background-color: #242424;
}

.second-section__equipment-grid--equipment3{
    @include second-section__equipment-grid;
    grid-area: equipment3;
    height: 320px;
    background-color: #1F1F1F;
}

.second-section__equipment-grid--equipment4{
    @include second-section__equipment-grid;
    grid-area: equipment4;
    height: 620px;
    background-color:#1F1F1F;
}

.second-section__equipment-grid--equipment5{
    @include second-section__equipment-grid;
    grid-area: equipment5;
    height: 415px;
    background-color: $orange;

   & p{
        color: $dark-text;
    }
}

.second-section__equipment-grid--equipment6{
    @include second-section__equipment-grid;
    grid-area: equipment6;
    height: 323px;
    background-color: #0E0E0E;
}

.second-section__equipment-grid--equipment7{
    @include second-section__equipment-grid;
    grid-area: equipment7;
    height: 266px;
    background-color: #0A0909;
}

.partners-section{
    padding-top: 150px;
    padding-bottom: 239px;
}

.partners-section__partners-grid{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 484px);
    grid-template-rows: repeat(2, 391px);
    grid-template-areas:
    "partner1 partner2 partner3"
    "partner4 partner5 partner6";
}

.partners-section__partners-grid--partner1{
    @include partners-section__partners-grid;
    background-color: #634F2C;
}

.partners-section__partners-grid--partner2{
    @include partners-section__partners-grid;
    flex-direction: column;
    text-align: center;
    background-color:rgba(232, 210, 171, 0.76);

    & p{
        max-width: 326px;
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
        color: $light-text;
    }
}

.partners-section__partners-grid--partner3{
    @include partners-section__partners-grid;
    background-color: $orange;
}

.partners-section__partners-grid--partner4{
    @include partners-section__partners-grid;
    flex-direction: column;
    background-color: #635A4A;
}

.partners-section__partners-grid--partner5{
    @include partners-section__partners-grid;
    background-color: #B08C4D;
}

.partners-section__partners-grid--partner6{
    @include partners-section__partners-grid;
    background-color: #634F2C;
}

.partners-section__partners-grid--eid-logo{
    width: 185px;
    height: 49px;
}

.partners-section__footer-top{
    display: flex;
    align-items: center;

    & a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-left: 705px;
        min-width: 180px;
        height: 50px;
        border: 1px solid $orange;
        color: $orange
    }
}

.partners-section__footer-top--title{
    @include title;
    min-width: 562px;
}










